{% extends 'SkokiOrlikBundle::layout.html.twig' %}

{% block content -%}
    <h1>Players creation</h1>
    <form action="{{ path('player_create') }}" method="post">
    {{ form_widget(form) }}
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('player') }}">
            Back to the list
        </a>
    </li>
</ul>
    {#<form class="form" enctype="multipart/form-data" action="{{ path('player_create') }}" method="post">#}
        {#<h2 class="form-fignin-heading">Please Upload</h2>#}
        {#<input type="file" name="img">#}
        {#<button class="btn btn-large btn-primary" type="submit">Upload</button>#}
    {#</form>#}
{% endblock %}
