{% if matches|length > 0  %}
<div id="match-fixtures" class="table-container" number="{{ matches|length }}">
    <div class="next-tab-button"><a href="#" onclick="nextRound();">Następne »</a></div>
    <div class="prev-tab-button"><a href="#" onclick="prevRound();">« Poprzednie</a></div>

{% for round_id, roundData in matches %}
    {% if roundData.status == 0 %}
    <div class="timetable round tab-deactive prev">
    {% elseif roundData.status == 2 %}
    <div class="timetable round tab-active lastone">
    {% else %}
    <div class="timetable round tab-deactive next">
    {% endif %}
    <h3>Kolejka {{ roundData.roundNumber }}:</h3>
        {% block roundMatches %}
            <div class="table-container-matches round-{{ roundData.roundNumber }}">
            {% include 'SkokiOrlikBundle:Timetable:matchesList.html.twig' with {'matches': roundData.matches} %}
            </div>
        {% endblock roundMatches %}
    </div>
    {% endfor %}

</div>
{% endif %}