{% extends 'SkokiOrlikBundle::layoutOneColumn.html.twig' %}

{% block title %}SkokiOrlikBundle:Table:ShowTable{% endblock %}
{% block content_header '' %}
{% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
    {% block menu_header %}
        {{ knp_menu_render('SkokiOrlikBundle:Builder:mainMenu') }}
    {% endblock %}

    {% block content %}
        <div class="block-data">

        <h2>Tabela:</h2>
            <div class="content">
        {{ render(controller('SkokiOrlikBundle:Table:tabela', { 'tournamentId': 1 })) }}
            </div>
        </div>

{% endblock %}
