html {
    background: #fff;
}
body {
    /*font-size: 120%;*/
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    background-color: #fff;
}
h1.title {
    font-size: 24px;
    padding-bottom: 30px;
    font-weight: normal;
}
body div.container {
    font-size: 110%;
}

.orlik-content {
    /*width: 1180px;*/
    /*width: 600px;*/
    margin: 0 auto;
    position: relative;
}
#responsive-web-design .section {
    float: left;
}
#responsive-web-design .aside {
    float: right;
}
#flexible-grid .section {
    float: left;
    margin: 1.51515151%  0px; /* 10px ÷ 660px = .01515151 */
    width: 63.63636363%; /* 420px ÷ 660px = .63636363 */
}

#flexible-grid .aside {
    margin: 1.51515% 0px;
    width: 30.303%;
}

#flexible-grid .centercol {
    margin: auto;
    width: 93.939%;
}
.container {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.section {
    float: left;
    margin: 1.51515151%; /* 10px ÷ 660px = .01515151 */
    width: 63.63636363%; /* 420px ÷ 660px = .63636363 */
}

.aside {
    margin: 1.51515%;
    width: 30.303%;
}
.top_menu ul {
    background: #242424;
    box-shadow: 0px 2px 0px #494949 inset;
    border-bottom: 3px solid #ff7d03;
    border-radius: 5px 5px 0 0;
    height:40px;
    display: block;
    clear: both;
    padding-left: 0;
}
.top_menu ul > li:before {
    content: '';
    background: #404040;
    background: -webkit-linear-gradient(top, #595959, #404040);
    background: -moz-linear-gradient(top, #595959, #404040);
    background: -ms-linear-gradient(top, #595959, #404040);
    background: -o-linear-gradient(top, #595959, #404040);
    background: linear-gradient(top, #595959, #404040);
    height:40px;
    width:1px;
    display: block;
    float: right;
}
.top_menu ul li{
    display: list-item;
    width: auto;
    height: 40px;
    margin: 0px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    float: left;
    /*position: relative;*/
    list-style: none;
}

.top_menu ul li:hover {
    background: #525252;
    background: -webkit-linear-gradient(top, #656464, #333);
    background: -moz-linear-gradient(top, #656464, #333);
    background: -ms-linear-gradient(top, #656464, #333);
    background: -o-linear-gradient(top, #656464, #333);
    background: linear-gradient(top, #656464, #333);
}

.top_menu ul li:first-child {
    border-top-left-radius: 3px;
}
.top_menu ul li:last-child {
    border-right: none!important;
}
.top_menu ul li a {

    font-family: 'RobotoRegular', sans-serif;
    line-height: 40px;
    vertical-align: middle;
    display: block;
    /*height: 45px;*/
    padding: 0 10px;
    font-size: 16px;
    cursor: pointer;
    /*
    font-family: 'RobotoRegular', sans-serif;
    line-height: 30pt;
    vertical-align: middle;
    display: block;
    height: auto;
    padding: 0 5%;
    font-size: 13pt;
    cursor: pointer;
*/
}
.top_menu ul li ul.menu_level_1 {
    margin-top: 10px;
    position: absolute;
}
.top_menu ul li ul.menu_level_1 li{
    height: auto;
    display: block;
    padding: 0px;
    margin: 0px;
}
.top_menu ul li ul.menu_level_1 li:hover{
    /*background-color: #fcf8e3;*/
    font-weight: bold;
}

.top_menu ul li .menu_level_1 {
    display: none;
}
.top_menu ul li:hover {
    cursor: pointer;
    /*background-color: #fbeed5;*/
}
.top_menu ul li:hover > .menu_level_1 {
    display: block;
    /*background-color: #fbeed5;*/
}

.top_menu ul li a {
    font-weight: bold;
    color: #000000;
}
.top_menu ul li:hover a {
    text-decoration: underline;
    cursor: pointer;
}

.middle_menu {
    display: block;
    float: right;
    width: 200px;
    height: 60px;
    background-color: #428bca;
    bottom: 10px;
    margin-bottom: 20px;
    position: relative;
}
.middle_menu ul li a {
    color: #000;
}
.middle_menu ul li a:hover {
    text-decoration: none;
}
.middle_menu ul li {
    text-align: center;
    display: block;
    padding: 5px;
}
.middle_menu ul li:hover {
    background-color: #46b8da;
    font-weight: bold;
}

#news_box .news {
    margin: 5px;
    border: 1px solid black;
    padding: 4px;
    width: 400px;
}
#news_box .news .create_date {
    font-size: 10px;
    margin-top: 5px;
}
.buttonForm {
    display: block;
    width: 100px;
    height: 20px;
    background-color: #0025fe;
}
#tabela_box table tr td {
    padding:5px;
}
#orlik-center-column #tabela_box table tr td {
    padding: 1px;
    font-size: 25px;
}

.leaguetable table {
    border-spacing: 0;
    margin: 1%;
    font-size: 150%;
    width: 98%;
}

.leaguetable table tr {
    text-align: center;
}
.leaguetable .rank {
    text-align: center;
    font-weight: bold;
    color: #FFF;
    background: url(../images/icons/rank_big.gif) no-repeat center center;
    background-color: none;
    background-position: 50% 50%;
    /*font-size: 12px;*/
    width: 25px;
    padding: 0px;
}
#orlik-center-column .leaguetable td.rank {
    width: 2%;
    font-size: 25px;
}
#orlik-center-column .leaguetable td.team {
    width: 20%;
}
#orlik-center-column .leaguetable td.team_form_col {
    width: 30%;
}
#orlik-center-column .leaguetable div.team_form {
    min-width: 90%;
    margin: auto;

    border-radius: 5px;
}
#orlik-center-column .leaguetable table tr.team_rank:hover div.team_form {
    background: none repeat scroll 0% 0% #FFF;
}
.smalltable.leaguetable .rank {
    text-align: center;
    font-weight: bold;
    color: #FFF;
    background: url(../images/icons/rank_mid.gif) no-repeat center center;
    background-color: none;
    background-position: 50% 50%;
    /*font-size: 12px;*/
    width: 25px;
    padding: 0px;
    letter-spacing: 0;
}
#orlik-center-column .leaguetable table tr.team_rank img.team-logo.icon-small {
    border: 1px solid #FFF;
    max-height: 20%;
    max-width: 10%;
}
th.day { width: 10%; }
th.date { width: 15%; }
th.team { width: 40%; }
.orlik-content table.table tr:hover {
    cursor: pointer;
    background: none repeat scroll 0% 0% #F89177;
}

.orlik-content table tr.odd {
    background: none repeat scroll 0% 0% #FFF;
}
/*#orlik-center-column div.orlik-content {*/
/*font-size: ;*/
/*}*/
#orlik-center-column div.orlik-content a {
    color: #ffffff;
    font-size: 25px;
}
#orlik-center-column .leaguetable table tr.team_rank:hover {
    background: none repeat scroll 0% 0% #ff3301;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}
#orlik-center-column .leaguetable table tr.team_rank td:hover {
    font-weight: 800;
}
#orlik-center-column .leaguetable table tr.team_rank:hover a {
    color: #fff;
}
#orlik-center-column .form-icon:hover {
    opacity: 1;
}
.orlik-content table tr.even {
    background: none repeat scroll 0% 0% #F4F4F4;
}
.leaguetable td.score-time {
    text-align: center;
}
.smalltablebox {
    display: block;
    padding: 5px;
}
.smalltablebox .td {
    margin: 3px;
}
table.smalltable td.points, table.smalltable td.total {
    text-align: center;
}
table.smalltable td.gd {
    text-align: center;
}
/*.leaguetable .team {*/
/*width: 25%;*/
/*}*/
/*.leaguetable .mp {*/
/*border-left: medium none;*/
/*padding: 0.2em;*/
/*}*/
/*.leaguetable .points {*/
/*width: 4%;*/
/*font-weight: bold;*/
/*}*/
/*.leaguetable .gd {*/
/*padding: 0.2em;*/
/*}*/

body div.orlik-content h1, body div.orlik-content h2, body div.orlik-content h3{
    font-weight: normal;
}
body #orlik-center-column a {
    font-size: 24px;
}
body div.orlik-content a {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    color: #000;
    /*text-indent: -5000px;*/
    font-weight: normal;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.25);
}
.top_menu ul li a:hover {
    background: #525252;
    background: -webkit-linear-gradient(top, #656464, #333);
    background: -moz-linear-gradient(top, #656464, #333);
    background: -ms-linear-gradient(top, #656464, #333);
    background: -o-linear-gradient(top, #656464, #333);
    background: linear-gradient(top, #656464, #333);
}
body div.orlik-content a:hover {
    text-decoration: none;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.25);
}
body div.orlik-content .top_menu a {
    color: #fff;
}
body div.orlik-content h1 {

}
body div.orlik-content h2 {
    color: #FF3301;
    text-transform: uppercase;
}
body div.orlik-content div.block {
    float: left;
    width: 100%;
}
#orlik-left-column, #orlik-right-column {
    float: left;
}
#orlik-center-column div.team_form {

}
/*#orlik-left-column {*/
/*width: 30%;*/
/*}*/
/*#orlik-right-column {*/
/*width: 70%;*/
/*}*/
.table-container-matches th.score-time {
    text-align: center;
}
.table-container-matches .matches .sub-head th {
    font-weight: normal;
    /*font-size: 100%;*/
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.25);
}
tr.sub-head {
    background-color: #494949 ;
    border-spacing: 0;
}
tr.sub-head th {
    background-color: #494949 ;
    color: #fff;
    border: 1px solid #ffffff;
    padding: 1%;
    font-weight: normal;
    font-size: 16px;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.25);
}
tr.sub-head th.sortasc {
    text-align: center;
}
tr.sub-head th.gd, tr.sub-head th.total {
    width: 10%;
}
tr.sub-head th.points {
    width: 20%;
}
tr.sub-head th.pozition {
    width: 5%;
}
.form-icon {
    background :url(../images/icons/form-icons.png) no-repeat 50% 50%;
    background-color: none;
    width: 16px;
    height: 15px;
    float: left;
    margin-right: 2px;
    text-indent: -5000px;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}
#orlik-center-column .form-icon {
    background :url(../images/icons/form-icons-big.png) no-repeat 50% 50%;
    background-color: none;
    width: 30px;
    height: 29px;
    float: left;
    margin: 1px 3px;
    text-indent: -5000px;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}
.form-icon:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
}
.form-draw {
    background-position: 0 0;
}
.form-win {
    background-position: 0 -32px;
}
#orlik-center-column .form-loss {
    background-position: 0 -16px;
}
#orlik-center-column .form-draw {
    background-position: 0 0;
}
#orlik-center-column .form-win {
    background-position: 0 -60px;
}
#orlik-center-column .form-loss {
    background-position: 0 -30px;
}
.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.block-data .block_match_info h3.thick {
    font-size: 20px;
}
.block-data .block_match_info h3.thick.scoretime {
    font-weight: bold;
}
div.block_match_info dl {
    text-align: left;
}
div.block_match_info dt {
    width: 40%;
}
dt {
    width: 30%;
    clear: left;
    font-weight: bold;
}
dt, dd {
    float: left;
}
div.block_match_info dd {
    width: 55%;
}
dd {
    /*width: 70%;*/
}
div.form {
    width: 90px;
    margin: 0px auto 0.5em;
}
.block_match_info .container {
    text-align: center;
}

.timetable.tab-deactive {
    display: none;
}

.prev-tab-button, .next-tab-button {
    width: auto;
    margin: 0px 2px;
    float: right;
    font-size: 85%;
    text-align: center;
}
#match-fixtures {
    width: 100%;
}
table.matches td.score-time {
    text-align: center;
}
.timetable.round {
    /*float: left;*/
    position: relative;
    width: 100%;
    /*width: 720px;*/
}
div#match-fixtures .timetable h3 {
    margin: 5px;
}
.timetable.nextone {
    /*border: 1px solid #FF3301;*/
    /*margin-top: 5px;*/
}
.timetable.nextone h3 {
    color: #FF3301;
}
ul.rounds-list {
    list-style: none;
    display: block;
    padding: 0px;
}
ul.rounds-list li {
    display: inline;
    /*padding: 1%;*/
}
ul.rounds-list li:hover {
    cursor: pointer;
}
ul.rounds-list li:hover a {
    background-color: #FF3301;
    color: #fff;
    font-weight: bold;
}
ul.rounds-list li a {
    font-size: 16px;
    padding: 1%;
}
ul.rounds-list li:first-child {

}
span.rounds-menu {
    width: 100%;
    display: block;
    background-color: #dddcdc;
    background-image: -webkit-linear-gradient(top, #f4f4f4, #cac8c8);
    background-image: linear-gradient(to bottom, #f4f4f4, #cac8c8);
    border-right: 1px solid #ddd;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    height: auto;
    padding: 1% 0;
    margin: 0px;
}
span.rounds-menu b, span.rounds-menu ul {
    display: inline;
    margin: 0 0 0 1%;
    padding: 0px;
    vertical-align: middle;
}
.timetable.round {
    margin-top: 3%;
}
#match-fixtures.all .timetable.nextone {
    /*border: 1px solid #FF3301;*/
}
.table-container-matches, table.matches {
    width: 100%;
}
.timetable .najblizsza {
    position: absolute;
    right: 5px;
    top: 5px;
    color: red;
}
.leaguetable td.team {
    text-align: left;
}
.leaguetable td.team img, .leaguetable td.team a {
    display: inline-block;
    vertical-align: middle;
}

.block-data {
    float: left;
    /*margin: 1.51515151%;*/
    width: 100%;
    /*-moz-border-radius: 16px;*/
    /*-webkit-border-radius: 16px;*/
    /*border-radius: 16px;*/
    /*margin-bottom: 20px;*/
    /*border-top: 1px solid #d5d3d6;*/
    background-color: #FFFFFF;
    position: relative;
    /*border: 1px solid #dfdfdf;*/
    /*padding: 1.51515151%;*/
}
.block-data div.content {
    border-top: 1px solid #d5d3d6;
    background: #f4f4f4;
    padding: 0.7em 0 0.7em 0;
    width:100%;
    height: auto;
}
.block-data div.content-home {
    border-top: 1px solid #d5d3d6;
    background: #f4f4f4;
    padding: 0;
    width:100%;
    height: auto;
}
.block-data #latest-news {
    position: relative;
}
.block-data .news {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    /*margin-bottom: 20px;*/
    background-color: #FFFFFF;
    border: 1px solid #dfdfdf;
    padding:1.51515151%;
    width: 95%;
    height: auto;
    margin:1%;
    /*float: left;*/
}
.block-data .news h2.title {
    font-size: 16px;
    margin: 5px;
    font-weight: bold;
    color: #000;
}
.block-data .more a {
    background :url(../images/icons/more_gray.gif) no-repeat center right;
    display: block;
}
.block-data .more a:hover {
    font-weight: bold;
    background :url(../images/icons/more.gif) no-repeat center right;
}
.block-data.team-details h1, .block-data.team-details img {
    display: inline-block;
    vertical-align: middle;
}
.news div.date {
    font-size: 10px;
}
.news a { font-size: 12px;}
.news .date, .news .introduction, .news .more {
    font-size: 14px;
    margin: 5px;
}
.orlik-content .sf-reset .block {
    padding: 10px;
}
.block-data table.smalltable {
    width: 100%;
    border-spacing: 0;
    font-size: 120%;
}
.nextone table.matches { border: 1px solid #FF3301; border-spacing: 0;}
table.matches { width: 100%; border: 1px solid #000; border-spacing: 0; }
table.matches .day { width: 5%; text-align: center;  }
table.matches .date { width: 10%; }
table.matches .team { width: 30%; }
table.matches .team-a { text-align: right;}
table.matches .team-b { text-align: left; }
table.matches .score-time { width: auto;}
table.matches .info { width: 5%;}

table.matches .team-a img, table.matches .team-b a {
    text-align: left;
}

table.matches .team-a a, table.matches .team-b img {
    text-align: right;
}

table.matches .team-a img, table.matches .team-a a, table.matches .team-b img, table.matches .team-b a {
    display: inline-block;
    vertical-align: middle;
}

body div.orlik-content a.button {
    color: #fff;
}
.button, .button:visited, .button:active, button, input[type="submit"], .buttonImport, .buttonImport:visited, .buttonImport:active {
    background: -moz-linear-gradient(top, #5c5c5c 0%, #383838 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5c5c5c), color-stop(100%, #383838));
    background: -webkit-linear-gradient(top, #5c5c5c 0%, #383838 100%);
    background: -o-linear-gradient(top, #5c5c5c 0%, #383838 100%);
    background: -ms-linear-gradient(top, #5c5c5c 0%, #383838 100%);
    background: linear-gradient(top, #5c5c5c 0%, #383838 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5c5c5c', endColorstr='#383838');
    display: inline-block;
    height: 25px;
    cursor: pointer;
    line-height: 25px;
    vertical-align: top;
    padding: 2px 8px;
    margin: 5px;
    background-color: #494949;
    border: 1px solid black;
    color: #fff;
    text-decoration: none;
}
.button:hover, .button:visited:hover, .button:active:hover, button:hover, input[type="submit"]:hover, .buttonImport:hover, .buttonImport:visited:hover, .buttonImport:active:hover {
    background: -moz-linear-gradient(top, #383838 0%, #5c5c5c 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(100%, #5c5c5c));
    background: -webkit-linear-gradient(top, #383838 0%, #5c5c5c 100%);
    background: -o-linear-gradient(top, #383838 0%, #5c5c5c 100%);
    background: -ms-linear-gradient(top, #383838 0%, #5c5c5c 100%);
    background: linear-gradient(top, #383838 0%, #5c5c5c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#383838', endColorstr='#5c5c5c');
    color: #fff; }

ul.team-list .team-row {
    position: relative;
    display: block;
    text-align: left;
    font-size: 20px;
    margin: 1%;
}

ul.team-list .team-row img, ul.team-list .team-row a {
    display: inline;
    vertical-align: middle;
    font-size: 100%;
}

img.team-logo.icon-small {
    border: 1px solid #FFF;
    max-height: 20px;
    max-width: 30px;
}
img.team-logo.icon {
    border: 1px solid #FFF;
    max-height: 40px;
    max-width: 60px;
}

img.team-logo.small {
    border: 1px solid #FFF;
    max-height: 66px;
    max-width: 100px;
}

img.team-logo.mid {
    border: 4px solid #FFF;
    max-height: 100px;
    max-width: 150px;
}
img.team-logo.normal {
    border: 4px solid #FFF;
    /*max-height: 200px;*/
    /*max-width: 300px;*/
    max-height: 60%;
    max-width: 80%;
}
#logujform {
    display: table-row;
    display: block;
    width: 70%;
}
#logujform form label {
    float: left;
}
#logujform form input {
    float: right;
}
#userlogin {
    display: block;
    position: absolute;
    top: 1%;
    right: 1%;
}
#rejestracjaform form div, #logujform div {
    display: table-row;
    width: 100%;
}
#rejestracjaform form {
    width: 70%;
}
#rejestracjaform input {
    float: right;
}

.team-details .team_form {
    width: auto;
    padding-left: 1%;
}
.top_menu {
    font-size: 110%;
}