{% extends 'SkokiOrlikBundle::layout.html.twig' %}

{% block title %}SkokiOrlikBundle:Team:Show{% endblock %}
    {% block menu_header %}
        {{ knp_menu_render('SkokiOrlikBundle:Builder:mainMenu') }}
    {% endblock %}
    {% block content %}
        {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

<h1>Welcome to the Team:Show page for ID: {{ id }}</h1>
        <h2>{{ team.name }}</h2>
        {% block teamMatches %}
            {% include 'SkokiOrlikBundle:Timetable:matchesList.html.twig' with {'matches': matches} %}
        {% endblock %}
{% endblock %}
