{% extends 'SkokiOrlikBundle::layout.html.twig' %}

{% block title %}SkokiOrlikBundle:Team:Show{% endblock %}
    {% block menu_header %}
        {{ knp_menu_render('SkokiOrlikBundle:Builder:mainMenu') }}
    {% endblock %}
    {% block content %}
        {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

        <h1>{{ team.name }}</h1>
        {% block teamForm %}
            {% include 'SkokiOrlikBundle:Team:TeamForm.html.twig' with {'teamForm': teamForm} %}
        {% endblock %}
        {% block teamMatches %}
            {% include 'SkokiOrlikBundle:Timetable:matchesList.html.twig' with {'matches': matches} %}
        {% endblock %}
{% endblock %}
