{% extends 'SkokiOrlikBundle::layout.html.twig' %}

{% block title %}SkokiOrlikBundle:Table:ShowTable{% endblock %}


    {% block menu_header %}
        {{ knp_menu_render('SkokiOrlikBundle:Builder:mainMenu') }}
    {% endblock %}
    {% block content %}
        {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}
        <div class="block-data">
        <h2>Lista drużyn:</h2>
            <ul id="teams_box" class="team-list">
            {% for id, team in teamsList %}
                    <li class="team-row">
                        {% if team.picture is not null %}
                            {% set logo = 'bundles/skokiorlik/images/teams/small/' ~ team.picture %}
                        {% else %}
                            {% set logo = 'bundles/skokiorlik/images/teams/noHerb.png'%}
                        {% endif %}
                        <img src="{{ asset(logo) }}" class="team-logo small" />
                        <a href="{{ path('_orlik_show_team', {'id' : team.id}) }}">{{ team.name }}</a>
                    </li>
            {% endfor %}
            </ul>
        </div>
    {% endblock %}