{% extends 'SkokiOrlikBundle::layout.html.twig' %}

{% block title %}SkokiOrlikBundle:Table:ShowTable{% endblock %}


    {% block menu_header %}
        {{ knp_menu_render('SkokiOrlikBundle:Builder:mainMenu') }}
    {% endblock %}
    {% block content %}
        {% set version = constant('Symfony\\Component\\HttpKernel\\Kernel::MAJOR_VERSION') ~ '.' ~ constant('Symfony\\Component\\HttpKernel\\Kernel::MINOR_VERSION')%}

        <h1>Welcome to the Team list</h1>
        <div id="teams_box">
            {% for team in teamsList %}
                <div class="team_row">
                    <h2><a href="{{ path('_show_team', {'id' : team.id}) }}">{{ team.name }}</a></h2>
                </div>
            {% endfor %}
        </div>
    {% endblock %}